In [8]:
#Write Python code to complete the following tasks.

#Given a list [1, 2, 3, 4], print out all the values in the list one by one.
list = [1,2,3,4]

for each in list:
    print(each)

1
2
3
4

In [9]:
#2 Given a list [1, 2, 3, 4], print out all the values in the list multiplied by 20.
for each in list:
    print(each*20)

20
40
60
80

In [ ]:
#3 Given a list ["Elie", "Tim", "Matt"], return a new list with only the first letter of each name: ["E", "T", "M"].
list = ["Elie", "Tim", "Matt"]
list3 = []
for name in list:
    list3.append(name[0])
print(list3)

['E', 'T', 'M']

In [ ]:
#4 Given a list [1, 2, 3, 4, 5, 6], return a new list with all the even values: [2, 4, 6].
list4 = [1, 2, 3, 4, 5, 6]
list5 = []
for each in list4:
    if each %2 == 0:
        list5.append(each)
print(list5)

[2, 4, 6]

In [ ]:
#5 Given two lists [1, 2, 3, 4] and [3, 4, 5, 6], return a new list that contains only the values present in both lists: [3, 4].
list6 = [1,2,3,4]
list7 = [3,4,5,6]
list8 =[]

for each in list6:
    if each in list7:
        list8.append(each) 
print(list8)

[3, 4]

In [ ]:
#6 Given a list of words ["Elie", "Tim", "Matt"], return a new list with each word reversed and in lowercase: ["eile", "mit", "ttam"].
list = ["Elie", "Tim", "Matt"]
list9 =[]

for each in list:
    print(each[::-1])
    print("lowercase",(each))
    







    Name = ["Elie", "Tim", "Matt"]
Name2 = []
for word in Name:
    # Convert to lowercase and reverse the word
    lower_word = word.lower()
    reversed_word = lower_word[::-1]
    Name2.append(reversed_word)
Name2  # This will output: ['eile', 'mit', 'ttam']

eilE
lowercase Elie
miT
lowercase Tim
ttaM
lowercase Matt

['eile', 'mit', 'ttam']

In [59]:
#7 Given two strings "first" and "third", return a new list of the letters that are present in both strings: ["i", "r", "t"].

x = "first"
y = "third"
list10 = []

for each in x:
    if each in y:
        list10.append(each)
print(list10)

['i', 'r', 't']

In [66]:
#8 For all numbers between 1 and 100, return a list of the numbers that are divisible by 12: [12, 24, 36, 48, 60, 72, 84, 96].

lis1 = []
for i in range(1, 100) :
    if i % 12 == 0 :
        lis1.append(i)
print(lis1)

[12, 24, 36, 48, 60, 72, 84, 96]

In [67]:
#9 Given the string "amazing", return a list with all the vowels removed: ["m", "z", "n", "g"].
a ="amazing"
list = [i for i in a if i not in "aeoui"]
list

['m', 'z', 'n', 'g']

In [63]:
#10 Generate a list with the following value: [[0, 1, 2], [0, 1, 2], [0, 1, 2]].

In [64]:
#11 Generate a list with the following structure:

In [68]:
#EXERCICE 2

#Given a list: [("name", "Elie"), ("job", "Instructor")], create a dictionary that looks like this: {'job': 'Instructor', 'name': 'Elie'} (Note: The order does not matter).
liste = [("name", "Elie"), ("job", "Instructor")]
dictionnaire = dict(liste)
print(dictionnaire)

{'name': 'Elie', 'job': 'Instructor'}

In [69]:
#Given two lists: ["CA", "NJ", "RI"] and ["California", "New Jersey", "Rhode Island"], return a dictionary that looks like this: {'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}.

keys = ["CA", "NJ", "RI"]
values = ["California", "New Jersey", "Rhode Island"]
result = {}
for i in range(len(keys)):
    result[keys[i]] = values[i]
print(result)

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [70]:
listAcronyme = ["CA", "NJ", "RI"]
listStatename = ["California", "New Jersey", "Rhode Island"]
dictAcroState = dict(zip(listAcronyme, listStatename))
print(dictAcroState)

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [ ]:
#3 3. Create a dictionary where the keys are vowels in the alphabet and the values are 0. Your dictionary should look like this: {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}. (Do not use the fromkeys method).

In [ ]:
#4 Create a dictionary where the key is the position of the letter in the alphabet, and the value is the letter itself. You should return something like this:

In [71]:
#Given the string "awesome sauce", return a dictionary where the keys are vowels, and the values are the count of each vowel in the string. Your dictionary should look like this: {'a': 2, 'e': 3, 'i': 0, 'o': 1, 'u': 1}.